<!doctype html>
<html>
  <head>
    <title>About <%=plannerName%></title>
    <link rel="stylesheet"  type="text/css" href="style.css" />
  </head>
  <body>
    <h1 class="main-title">About <%=plannerName%></h1>
    <p>Set up your event!</p>
  </body>
</html>