<!doctype html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <h1 class="main-title">Login</h1>
    <form method="POST" action="/loggedin">
      <p>Username: <input id="username" type="text" name="username" placeholder="username" /></p>
      <p>Password: <input id="password" type="password" name="password" placeholder="password" /></p>
      <button type="submit">Login</button>
    </form>
  </body>
</html>