<!doctype html>
<html>
  <head>
    <title>Register for <%=plannerName%></title>
    <link rel="stylesheet"  type="text/css" href="style.css" />
  </head>
  <body>
    <h1 class="main-title">Register for <%=plannerName%></h1>
    <form method="POST" action="/registered">
        <p>Email: <input id="email" type="email" name="email" placeholder="email" /></p>
        <p>Username: <input id="username" type="text" name="username" placeholder="username" /></p>
        <p>Password: <input id="password" type="password" name="password" placeholder="password" /></p>
        <button type="submit">Register</button>
      </form>
  </body>
</html>