<!doctype html>
<html>
  <head>
    <title>Search <%=plannerName%></title>
    <link rel="stylesheet"  type="text/css" href="style.css" />
  </head>
  <body>
    <h1 class="main-title">Search <%=plannerName%></h1>
    <form method="GET" action="/search-result">
      <label for="search-box">Search for an event based on Name, Location, or Description:</label>
      <input id="search-box" type="text" name="keyword" placeholder="Search">
      <input type="submit" value="Search">
  </form>
  <div class="footer">
    <a href="/">Home</a>
  </div>
  </body>
</html>