<!doctype html>
<html>
  <head>
    <title>Search <%=plannerName%></title>
    <link rel="stylesheet"  type="text/css" href="style.css" />
  </head>
  <body>
    <h1 class="main-title">Search <%=plannerName%></h1>
    <form method="GET" action="/search-result">
      <p>Search for the event</p>
      <input id="search-box" type="text" name="keyword" placeholder="Search">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>