body {
  margin: 0;
  padding: 0;
  background-color: #fcf7e2;
  color: #eb6f23;
  line-height: 1.0;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

* {
  margin: 0;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #38275d;
  text-align: center;
}

.container {
  position: absolute;
  width: 100%;
}

.nav-bar {
  text-align: center;
}

.nav-bar li {
  display: inline-block;
  padding: 0 5px;
}

.nav-bar a {
  text-decoration: none;
  color: #2a2927;
}

.nav-bar a:hover {
  text-decoration: underline;
  color: #eb6f23;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  padding-right: 40px;
  background-color: #fcf7e2; 
  border: 1px solid #eb6f23; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-button {
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #38275d; 
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #eb6f23; /* Red border */
  border-radius: 3px;
  margin-right: 3px;
  background-color: #fcf7e2; /* Dark green background */
  color: #38275d; /* Yellow text */
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #38275d;
  color: #eb6f23;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #eb6f23;
  color: #38275d;
}

.about-text {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

progress {
  appearance: none;
  border: 1px solid #38275d;
  height: 10px;
  width: 100%;
}

progress[value="50"]::-webkit-progress-value {
  background: #d4291c;
}


progress[value="100"]::-webkit-progress-value {
  background: #2ece73;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0; 
  width: 100%; 
  background-color: #eb6f23;
  color: #38275d;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}


.my-events-list {
  list-style-type: none;
  padding: 0;
}

.my-event-item {
  border: 1px solid #eb6f23;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fcf7e2;
  max-width: 600px;
  margin: 0 auto;
}

.my-event-item form {
  border: none; 
  padding: 0; 
  margin: 0; 
  background-color: transparent; 
  box-shadow: none; 
  max-width: none; 
}

.my-event-item button[type="submit"] {
  display: block; 
  width: auto; 
  margin: 10px 0; 
  padding: 10px; 
}

.event-name{
  color: #38275d;
  font-weight: bold;
}