body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.0;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  }

  .main-title {
    text-align: center;
  }

  .container {
    position: absolute;
    width: 100%;
  }
  
  .nav-bar {
    text-align: center;
  }
  
  .nav-bar li{
    display: inline-block;
    padding: 0 5px;

  }

  .nav-bar a{
    text-decoration: none;
    color: black;
  }

  .nav-bar a:hover{
    text-decoration:underline;
    color: #0465ce;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 3px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #0465ce;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button[type="submit"]:hover {
    background-color: #0465ce;
  }
