body {
    margin: 5;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.0;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  }

  .main-title {
    text-align: center;
  }

  .nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .nav-bar li {
    float: left;
  }

  .nav-bar li a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-bar li a:hover {
    color: #42bd00;
  }